body {
  background-color: #fff;
  font-family: $font-stack;
  color: #222;
}

h1 {
  font-weight: 300;
  font-size: 2.5em;
  color: #000;
  margin: 0;
}

.error-list {
  border-top: none;
  border-bottom: none;
  .error-message-cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 0;
    padding: 11px 15px;
  }

  .error-icon {
    width: 30vw;
  }
}
