.map-wrapper {
  padding: 0;
  background-color: #fff;
  height: 100vh;
  @media screen and (min-width: 480px) {
    background-image: image-url('subway-lines.png');
  }
  .top-map {
    width: 100vw;
    opacity: 1;
    transition: opacity 1s;
    @media screen and (min-width: 480px) {
      opacity: 0;
      transition: opacity 1s;
      height: 100vh;
    }
  }

  .landing-icon-wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .landing-icon, .nexbus {
      width: 50vw;
      @media screen and (min-width: 480px) {
        width: 30vw;
      }
    }

    .btn-login {
      margin-top: 2vh;
      z-index: 1;
    }
  }

  .bot-map {
    width: 100vw;
    bottom: 0;
    position: fixed;
    opacity: 1;
    transition: opacity 1s;
    z-index: 0;
    @media screen and (min-width: 480px) {
      opacity: 0;
      transition: opacity 1s;
    }
  }
}
