.stops-table {
    width: 100%;

    .fa.fa-angle-right {
      font-size: 1.4em;
    }

    a {
      font-size: 1.4em;
      color: #333;
      text-transform: uppercase;
    }

    .distance-text {
      color: $std-orange;
    }
}
