.stops-table {
    width: 100%;

    .btn-comp {
      background-color: $std-orange;
      color: #fff;
      border-color: $std-orange;
      font-family: $theme-font;
      text-transform: uppercase;
    }

    .btn-comp:focus, .btn-comp:hover {
      background-color: #fff;
      color: $std-orange;
      border-color: $std-orange;
    }

    .fa.fa-angle-right {
      font-size: 1.4em;
    }

    a {
      font-size: 1.4em;
      color: #333;
      text-transform: uppercase;
    }

    .distance-text {
      color: $std-orange;
    }
}
