.navbar-link {
  padding-top: 2vh;
  z-index: 9999;
}

.last-seen-header {
  text-align: right;
  padding-right: 65px;
}

.capacity-icon {
  width: 25px;
}

.report-nav {
  .report-close {
    position: relative;
    top: 25%;
  }
}
