@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
$quicksand: 'Quicksand', sans-serif;
$body-font: 'Helvetica', 'Roboto', sans-serif;
$theme-font: 'Montserrat', sans-serif;
$std-blue: #66cccc;
$std-orange: #ff9933;
