@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
$font-stack: 'Montserrat', 'Helvetica', 'Roboto', sans-serif;
$theme-font: 'Montserrat', sans-serif;
$body-font: 'Helvetica', 'Roboto', sans-serif;
$std-blue: #66cccc;
$std-orange: #ff9933;
