<div class="row">
  <div class="col-xs-12 page-indicators">
    <div ng-class="{currPage: showSchedule, otherPage: !showSchedule}"></div>
    <div ng-class="{currPage: !showSchedule, otherPage: showSchedule}"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 card-wrapper">
      <div ng-swipe-right="showSchedule = true"
           ng-swipe-left="showSchedule = false"
           class="card-content">
        <div ng-show="showSchedule"
             ng-controller="TimingsController as timingsCtrl"
             nb-timings></div>
        <div ng-show="!showSchedule"
             ng-controller="ReportController as reportCtrl"
             nb-report></div>
    </div>
  </div>
</div>
