<ul class="table-view error-list" ng-show="hasError">
  <li class="table-view-cell error-message-cell">
    <%= image_tag 'err.png', class: 'error-icon' %>
    <span>Hey bus stalker, looks like your request fell through a time warp.
    Try again in a few minutes.</span>
  </li>
<ul>
