<div class="row">
  <div class="col-xs-12 map-wrapper">
    <img class="top-map" src="<%= asset_path 'top_map.png' %>">
    <div class="landing-icon-wrapper">
      <img class="landing-icon" src="<%= asset_path 'nb-circle-blue.png' %>">
      <img class="nexbus" src="<%= asset_path 'nb-word-mixed.png' %>">
      <a class="btn btn-sm btn-info btn-fill btn-login" href="/auth/facebook">Login with Facebook</a>
    </div>
    <img class="bot-map" src="<%= asset_path 'bot_map.png' %>">
  </div>
</div>
