<div class="row">
  <div class="col-xs-12 report-wrapper">
    <p>Finally! The bus</p>
    <ul class="bus-types">
      <li class="bus-type" ng-repeat="busType in busTypes" onclick="selectBusType(this)">{{busType}}</li>
    </ul>
    <p>just arrived and it's</p>
    <ul class="fullness-levels">
      <li class="fullness-level" ng-repeat="fullnessLevel in fullnessLevels" onclick="selectFullnessLevel(this)">{{fullnessLevel}}</li>
    </ul>
    <form name="reportForm" ng-submit="submitReport()" novalidate>
      <input id="bus-type" name="bus-type" type="hidden" required/>
      <input id="fullness-level" name="fullness-level" type="hidden" required/>
      <input class="btn btn-fill btn-primary report-submit" type="submit" value="Contribute!" />
    </form>
    <div class="alert-block">
    </div>
  </div>
</div>
<script>
  function selectBusType(o) {
    $("#bus-type").val(o.innerHTML.trim());
    $(".bus-type").removeClass("selected-bus");
    $(".bus-type").addClass("unselected-bus");
    $(o).removeClass("unselected-bus");
    $(o).addClass("selected-bus");
  }
  function selectFullnessLevel(o) {
    $("#fullness-level").val(o.innerHTML.trim());
    $(".fullness-level").removeClass("selected-fullness");
    $(".fullness-level").addClass("unselected-fullness");
    $(o).removeClass("unselected-fullness");
    $(o).addClass("selected-fullness");
  }
</script>
