<div class="content">
  <div class="report-wrapper">
    <div class="report-text">Finally! The bus</div>
    <div class="segmented-control report-selector bus-types">
      <a id="bus-{{service.id}}" class="control-item bus-type" ng-repeat="service in serviceData" onclick="selectBusType(this)">{{service.name}}</a>
    </div>
    <div class="report-text">just arrived and it's</div>
    <div class="segmented-control report-selector fullness-levels">
      <a class="control-item fullness-level" ng-repeat="fullnessLevel in fullnessLevels" onclick="selectFullnessLevel(this)">{{fullnessLevel}}</a>
    </div>
    <form name="reportForm" ng-submit="submitReport()" novalidate>
      <input id="bus-type" name="bus-type" type="hidden" required/>
      <input id="fullness-level" name="fullness-level" type="hidden" required/>
      <button class="btn btn-fill btn-primary report-submit" type="submit" ng-disabled="reportForm.$invalid">Contribute!</button>
    </form>
    <div class="alert-block">
    </div>
  </div>
</div>
<script>
  function selectBusType(o) {
    if (o === undefined) {
      setTimeout(function() {
        o = $(".bus-type").first()[0];
        selectBusType(o);
      }, 100);
    } else {
      $("#bus-type").val($(o).attr('id').split('-')[1]);
      $(".bus-type").removeClass("selected-bus");
      $(".bus-type").addClass("unselected-bus");
      $(o).removeClass("unselected-bus");
      $(o).addClass("selected-bus");
      $(o).addClass("active");
    }
  }
  function selectFullnessLevel(o) {
    if (o === undefined) {
      setTimeout(function() {
        o = $(".fullness-level").first()[0];
        selectFullnessLevel(o);
      }, 100);
    } else {
      $("#fullness-level").val(o.innerHTML.trim());
      $(".fullness-level").removeClass("selected-fullness");
      $(".fullness-level").addClass("unselected-fullness");
      $(o).removeClass("unselected-fullness");
      $(o).addClass("selected-fullness");
      $(o).addClass("active");
    }
  }
</script>
