<div class="row">
  <div class="col-xs-12 report-wrapper">
    <p>Finally! The bus</p>
    <ul class="bus-types">
      <li id="bus-{{service.id}}" class="bus-type" ng-repeat="service in serviceData" onclick="selectBusType(this)">{{service.name}}</li>
    </ul>
    <p>just arrived and it's</p>
    <ul class="fullness-levels">
      <li class="fullness-level" ng-repeat="fullnessLevel in fullnessLevels" onclick="selectFullnessLevel(this)">{{fullnessLevel}}</li>
    </ul>
    <form name="reportForm" ng-submit="submitReport()" novalidate>
      <input id="bus-type" name="bus-type" type="hidden" required/>
      <input id="fullness-level" name="fullness-level" type="hidden" required/>
      <input class="report-submit" type="submit" value="Submit" />
    </form>
    <div class="alert-block">
    </div>
  </div>
</div>
<script>
  function selectBusType(o) {
    if (o === undefined) {
      setTimeout(function() {
        o = $(".bus-type").first()[0];
        selectBusType(o);
      }, 100);
    } else {
      $("#bus-type").val($(o).attr('id').split('-')[1]);
      $(".bus-type").removeClass("selected-bus");
      $(".bus-type").addClass("unselected-bus");
      $(o).removeClass("unselected-bus");
      $(o).addClass("selected-bus");
    }
  }
  function selectFullnessLevel(o) {
    if (o === undefined) {
      setTimeout(function() {
        o = $(".fullness-level").first()[0];
        selectFullnessLevel(o);
      }, 100);
    } else {
      $("#fullness-level").val(o.innerHTML.trim());
      $(".fullness-level").removeClass("selected-fullness");
      $(".fullness-level").addClass("unselected-fullness");
      $(o).removeClass("unselected-fullness");
      $(o).addClass("selected-fullness");
    }
  }
</script>
