<nb-loading></nb-loading>

<nb-error></nb-error>

<div class="search content-padded" ng-show="locationRevealed">
  <input type="search" id="bus-stop-search"
          placeholder="Search for a bus stop"
          ng-model="searchText"/>
</div>

<ul class="table-view" ng-show="locationRevealed" ng-hide="hasError">
  <li ng-repeat="stop in allStops | filter: searchText"
      class="table-view-cell bus-stop-cell">
    <a ng-show="locationRevealed"
       ng-href="/#/main?stop_id={{stop.stop.id}}"
       class="bus-stop-link">
      {{stop.stop.name}}
      <span ng-show="locationRevealed" class="distance-text">({{stop.distance}}m)</span>
      <span class="fa fa-chevron-right pull-right bus-stop-right"></span>
    </a>
  </li>
</ul>
