<table class="timings-table">
  <thead>
    <tr>
      <th colspan="4" class="busstop text-center">
        <span><i ng-click="toggleRefresh()" class="fa fa-refresh fa-2x btn-refresh" ng-class="{'fa-spin': refreshSchedule}"></i></span>
      </th>
    </tr>
    <tr>
    <th>
      <h2 class="text-left">{{currentStopName}}</h2>
    </th>

    <th class="text-right" colspan="2">
      <h2>Last Seen At</h2>
    </th>
  </tr>
  </thead>

  <tbody class="arrivals-data" ng-repeat="bus in sightingsData">
    <tr ng-click="toggleDetail(bus)">
      <td align="left">
        <h3>{{bus.name.toUpperCase()}}</h3>
      </td>

      <td align="right">
        <span class="lastSeenTime">{{bus.thisLastSeen}}</span>
      </td>
      <td align="right">
        <i class="fa fa-2x" ng-class="{'fa-caret-down': !bus.detail, 'fa-caret-up': bus.detail}"></i>
      </td>
    </tr>

    <tr ng-click="toggleDetail(bus)" ng-show="bus.detail">
      <td ng-switch="bus.capacity" align="center" colspan="3">
      <span ng-switch-when="2"><%= image_tag 'full_sm.png', class: 'capacity-icon' %></span>
      <span ng-switch-when="0"><%= image_tag 'empty_sm.png', class: 'capacity-icon' %></span>
      <span ng-switch-default><%= image_tag 'ok_sm.png', class: 'capacity-icon' %></span>
      <span class="arrival-timing">{{bus.otherLastSeen}}</span>
      </td>
    </tr>
  </tbody>
</table>
