<header class="bar bar-nav">
  <button ng-click="goTo('/location')"
          class="btn btn-link pull-left navbar-link">
    <i class="fa fa-chevron-left"></i>
  </button>
  <a href="#contributeModal" class="btn btn-link pull-right navbar-link">
    <i class="fa fa-commenting"></i>
  </a>
  <h1 class="title">{{currentStopName}}</h1>
</header>

<div class="content">
  <div ng-controller="TimingsController as timingsCtrl"
       nb-timings></div>
</div>

<div id="contributeModal" class="modal">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#contributeModal"><i class"fa fa-close"></i></a>
    <h1 class="title">Contribute</h1>
  </header>

  <div id="report-modal" nb-report ng-controller="ReportController"></div>
</div>
