<nb-loading></nb-loading>

<nb-error></nb-error>

<ul class="table-view" ng-hide="loading">
  <li class="table-view-divider last-seen-header" ng-hide="loading">
    <span ng-click="getSightingsAtStop(true)">
      <i class="fa fa-refresh" ng-class="{'fa-spin': clientLoading}"></i>
    </span>
    Last Seen
  </li>
  <li ng-repeat="bus in sightingsData"
      ng-click="toggleDetail(bus)"
      class="table-view-cell">
      {{bus.name.toUpperCase()}}
      <span class="pull-right">{{bus.thisLastSeen}}</span>
      <div ng-switch="bus.capacity">
      <span ng-switch-when="2"><%= image_tag 'full_sm.png', class: 'capacity-icon pull-left' %></span>
      <span ng-switch-when="0"><%= image_tag 'empty_sm.png', class: 'capacity-icon pull-left' %></span>
      <span ng-switch-default><%= image_tag 'ok_sm.png', class: 'capacity-icon pull-left' %></span><span class="arrival-timing pull-right">{{bus.otherLastSeen}}</span>
    </div>
  </li>
</ul>
