<header class="bar bar-nav">
  <button ng-click="goTo('/location')"
          class="btn btn-link pull-left navbar-link">
    <i class="fa fa-chevron-left"></i>
  </button>
  <a id="open-contribute" class="btn btn-link pull-right navbar-link" ng-click="openModal();">Contribute</a>
  <h1 class="title">{{currentStopName}}</h1>
</header>

<div class="content">
  <div ng-controller="TimingsController as timingsCtrl"
       nb-timings></div>
</div>

<div id="contributeModal" class="modal">
  <header class="bar bar-nav report-nav">
  <h1 class="title">Report Bus Sighting</h1>
  <div class="report-close">
    <btn class="pull-right modal-close" ng-click="closeModal();"><i class="fa fa-times"></i></btn>
  </div>
  </header>
  <div id="report-modal" nb-report ng-controller="ReportController"></div>
</div>
